.link{
    -fx-cursor: hand;
    -fx-underline: true;
    -fx-padding: 10px;
}

.link:focused{
    -fx-text-fill: red;
}

.txtField{
    -fx-background-color :  #c0c0c0;
    -fx-text-fill: Black;
    -fx-font-weight: bold;
    -fx-font-size: 26px;
}
.btn{
    -fx-background-color: #D9D9D9;
    -fx-fit-to-width: 1800px;
    -fx-pref-width: 130px;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-background-radius: 5;

}
